* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}

header {
    background-color: #7B9DD2;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo{
    padding: 10px;
    width: 175px;
    height: 80px;
    margin-left: 30px; 
}

.navbar {
    display: flex;
    align-items: center;
}

.navbar .container {
    display: flex;
    align-items: center;
}

nav a, header button {
    color: white;
    margin: 0 10px; 
    font-weight: bold;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    padding: 10px;
}

.profil {
    margin-left: 20px; 
    border-radius: 100%;
    width: 60px;
    height: 60px;
}

.menu_profil{
    margin-right: 30px;
    width: 24px;
    height: 24px;
}

.profile-container {
    display: flex;
    align-items: center;
}

header button {
    background-color: transparent;
    border: none;
    cursor: pointer;
}

header .dropdown_1 .content, .dropdown_2 .content_gerer, .dropdown_3 .content_stat{
    display: none;
}

header .dropdown_1, .dropdown_2, .dropdown_3 {
    position: relative;
    height: 100%;
}

header .dropdown_1:hover button, .dropdown_2:hover button, .dropdown_3:hover button{
    border-radius: 15px 15px 0 0;
    padding-left: 0px;
}

header .dropdown_1:hover button{
    width: 120px;
}

header .dropdown_2:hover button{
    width: 130px;
    text-align: left;
    padding-left: 20px;
}

header .dropdown_3:hover button{
    width: 140px;
}

header .dropdown_1:hover .content, .dropdown_2:hover .content_gerer, .dropdown_3:hover .content_stat{
    display: block;
    display: flex;
    flex-direction: column;
    position: absolute;
    background-color: white;
    top: 39.5px;
    left: 10px;
    border-radius: 0 0 15px 15px;
}

header .dropdown_1:hover .content {
    width: 120px;
}

header .dropdown_2:hover .content_gerer{
    width: 130px;
}

header .dropdown_3:hover .content_stat{
    width: 140px;
}
header .dropdown_1:hover button, .dropdown_2:hover button, .dropdown_3:hover button{
    color: #7B9DD2;
    background-color: white;
}

.content a, .content_gerer a, .content_stat a{
    color: #7B9DD2;
    font-weight: normal;
}

body {
    background-color: #70C7C6;
    font-family: 'Inter', sans-serif;

    
}
