/*CSS POUR LE MAIN */

body {
  background-color: #bbb4da;
  font-family: "Inter", sans-serif;
}
main {
  margin-top: 0px;
}
/*CSS POUR LE MENU*/

.container2 {
  margin: 0 auto; /* Centrer horizontalement */
  display: flex; /* Utilisation de flexbox */
  justify-content: center; /* Centrer horizontalement */
  align-items: center; /* Centrer verticalement */
  flex-direction: column; /* Aligner les éléments verticalement */
}
.menu {
  padding: 42px;
  margin: 0;
}

.menu ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.menu ul li {
  font-weight: bold;

  font-family: "Inter", sans-serif;
  margin: 0 10px; /* Espacement entre les éléments */
}

.square {
  background-color: #7b9dd2;
  width: 114px;
  height: 54px;
  border-radius: 25px;
  display: flex; /* Utilisation de flexbox */
  align-items: center; /* Centrage vertical */
  justify-content: center; /* Centrage horizontal */
}

.active a {
  color: #ffffff;
  text-decoration: none; /* Supprimer le soulignement du lien */
}
.menu a:visited {
  color: #ffffff; /* Utilise la couleur par défaut du texte */
  text-decoration: none; /* Supprime le soulignement */
}
/*CSS POUR LA RECHERCHE DES PILOTES*/

.squaredg {
  background-color: #f4f7fc;
  width: 1328px;
  height: 685px;
  border-radius: 25px;
  display: flex; /* Utilisation de flexbox */
  justify-content: center; /* Centrage horizontal */
  display: inline-block;
}
/* CSS POUR LE TABLEAU */
.table-container {
  max-height: 600px;
  overflow-y: auto; /* Ajoute une barre de défilement verticale si nécessaire */
}
table {
  border-collapse: collapse;
  width: 100%;
  overflow: hidden;
}
th:first-child,
td:first-child,
th:last-child,
td:last-child {
  padding: 16px 16px; /* Ajoute du padding aux premières et dernières colonnes */
}

.bordure {
  border-bottom: 1px solid #e9edf5; /* Ajout du type de bordure (solid) */
}
th,
td {
  border: 0px solid #f4f7fc;
  text-align: left;
  padding: 8px;
  font-size: 13px; /* Taille de police réduite */
}

th {
  background-color: #f4f7fc;
}

tbody tr:nth-child(even) {
  background-color: #f5f5f5;
}
tbody tr:nth-child(odd) {
  background-color: #ffffff;
}

tbody tr:hover {
  background-color: #ddd;
}
/*CSS POUR LA HEADER DU TABLEAU */

.search-container {
  position: relative; /* Position relative pour le conteneur */
}
#searchbar {
  border-radius: 6px;
  border: 1px solid #ccc; /* Bordure grise de 1 pixel */
  margin-left: 30px;
  width: 320px;
  height: 32px;
  position: relative; /* Position relative pour le conteneur */
  padding-left: 30px; /* Ajoutez le padding souhaité */
}
#imgsearch {
  position: absolute;
  width: 20px;
  height: 20px;
  top: 6px;
  left: 37px;
}

.headertab {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.btncountainer {
  display: flex;
}
.btnajouter {
  margin: 10px;
  padding: 5px;
  background-color: #7b9dd2;
  color: #ffffff;
  border-radius: 6px;
  border: none; /* Supprime les bordures */
  display: flex; /* Utilisation de flexbox */
  align-items: center; /* Aligner les éléments verticalement */
  cursor: pointer;
}

.imgplus {
  width: 12px;
  height: 12px;
  margin: 4px;
}
.imgautre {
  float: right;

  width: 40px;
  height: 40px;
  margin: 4px;
  cursor: pointer;
}
/*Popup Autre  */
#popupautre {
  position: absolute;
  display: none;
  flex-direction: column;
  color: #7b9dd2;
  background-color: #ffffff;
  padding: 10px;
  border-radius: 5px;
}
#popupautre div {
  cursor: pointer;
}
#popupautre div img {
  width: 20px;
  height: 20px;
}
/*Popup ajout 1 PILOTE */
#popupajout1 {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.7);
  z-index: 98;
  display: none;
}

#popupajout1.open {
  display: block !important;
}

.popupcontent {
  position: absolute;
  background-color: #ffffff;
  width: 450px;
  height: 540px;
  border-radius: 25px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
}
#close {
  position: absolute; /* Position absolue pour positionner l'image */
  top: 20px; /* Distance du haut */
  right: 20px; /* Distance de la droite */
  cursor: pointer; /* Curseur de la souris change au survol */
  width: 20px;
  height: 20px;
}
#closecircle {
  position: absolute; /* Position absolue pour positionner le cercle */
  top: 15px; /* Ajustez la position verticale */
  right: 15px; /* Ajustez la position horizontale */
  width: 30px; /* Largeur du cercle */
  height: 30px; /* Hauteur du cercle */
  border-radius: 50%; /* Pour créer un cercle */
  background-color: rgba(123, 157, 210, 0.5);
}
.formcreer1 {
  margin: 44px;
  margin-top: 1px;
  display: flex; /* Utilisation de flexbox */
  justify-content: center; /* Centrage horizontal */
  align-items: center;
  flex-direction: column;
  align-items: stretch;
}
#nomprenom {
  display: flex;

}
#nom1,
#prenom1 {
  flex : 1;
}

#prenom1{
  margin-right: 10px;
}

.formcreer1 input {
  padding-left: 10px; /* Ajoutez le padding souhaité */

  height: 2.75em; /* Deux fois la taille de la police */
  margin-bottom: 15px;
  font-size: 16px; /* Ajuste la taille de la police */
  width: 100%;
  border-radius: 3px;
  border: 1px solid #ccc; /* Bordure grise de 1 pixel */
  width: 100%; /* Assure que les champs de saisie occupent toute la largeur */
}

.formcreer1 input[type="submit"],#btn_donnees_incorrect {
  border-radius: 25px;
  color: #ffffff;
  background-color: #7b9dd2;
  cursor: pointer;
}

#btn_donnees_incorrect{
  height : 50px;
  width : 362px;
  border :none;
}

.formcreer1 select {
  padding-left: 10px; /* Ajoutez le padding souhaité */

  margin-bottom: 15px;

  height: 2.75em; /* Deux fois la taille de la police */
  font-size: 16px; /* Ajuste la taille de la police */
  border-radius: 3px;
  border: 1px solid #ccc; /* Bordure grise de 1 pixel */
  width: 100%; /* Assure que les champs de saisie occupent toute la largeur */
}

#creertxt {
  margin-top: 14px;
  margin-left: 44px;
  margin-right: 44px;
  font-size: 36px;
  color: black;
  font-weight: bold;
  flex-wrap: wrap;
}
/*CSS POUR LE POPUP MODIF */

#popupmodifier {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.7);
  z-index: 98;
  display: none;
}
#popupmodifier.open {
  display: block !important;
}
/*CSS POUR LE POPUP SUPPR */

#popupsuppr {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.7);
  z-index: 98;
  display: none;
}
#popupsuppr.open {
  display: block !important;
}

.popupsuppr-content {
  position: absolute;
  background-color: #ffffff;
  width: 400px;
  height: 200px;
  border-radius: 25px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  flex-direction: column; /* Changement de direction en colonne */
  text-align: center; /* Centrer le texte */
}
#Supprimer,
#Annuler {
  color: #ffffff;
  border-radius: 25px;
  width: 150px; /* Ajustez la largeur des boutons selon vos besoins */
  height: 50px; /* Ajustez la hauteur des boutons selon vos besoins */
  border: none;
  padding: 30px;
  margin-top: 40px;
  font-size: 16px;
  text-align: center; /* Centrer le texte */
  line-height: 0px; /* Alignement vertical */
  cursor: pointer;
}
#txtpopupsuppr {
  margin-top: 10px;
  font-size: 18px;
}
#Supprimer {
  background-color: #ff8686dc;
}

#Annuler {
  background-color: #7b9dd2;
}


#popupajout1 a {
  display: block;
  margin-top: -10px;
  margin-bottom: 10px;
  color : red;
  font-size: 14px;
}


.titre_ajout_etudiant{
  margin-bottom: 20px;
}

#btn_valider{
  margin-top: 20px;
}