/* FOOTER */

*{
  padding: 0;
  margin : 0;
}

footer {
  color: rgb(255, 255, 255);

  padding: 0px;
  width: 100%;
  margin-top: 50px;
}

.contenu_footer {
  margin: 0 auto;
  display: flex;
  align-items: flex-start;
  padding: 50px 0;

  position: relative;
}

.bloc_footer_a_propos,
.bloc_footer_nous_contacter,
.bloc_footer_reseaux_sociaux {
  margin-top: -30px;
}

.bloc_footer_reseaux_sociaux {
  position: absolute;
  top: 50px;
  right: 10px;
}

.bloc_footer_a_propos h3,
.bloc_footer_nous_contacter h3,
.bloc_footer_reseaux_sociaux h3 {
  font-size: 17px;
  padding-bottom: 20 px;
  justify-content: space-between;
  margin-bottom: 20px;
}

.bloc_footer_a_propos {
  margin-left: 20px;
  margin-right: 80px;
}

.bloc_footer_nous_contacter {
  margin-right: 510px;
}

.liste_a_propos,
.liste_nous_contacter,
.liste_reseaux_sociaux {
  list-style-type: none;
  margin-right: 60px;
}

.liste_a_propos a,
.liste_nous_contacter a {
  text-decoration: none;
  color: rgb(249, 249, 249);
  flex-direction: column;
}

.interligne {
  line-height: 28px;
}

.liste_a_propos a:hover {
  color: #7b9dd2;
}

footer img {
  width: 50px;
  padding-right: 10px;
}

.noStage {
  text-align: center;
}



@media screen and (max-width: 1105px) {
  .contenu_footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
 
    
  }

  .bloc_footer_a_propos,
  .bloc_footer_nous_contacter,
  .bloc_footer_reseaux_sociaux {
    text-align: center;
    margin: 0 auto;

  }

  .bloc_footer_reseaux_sociaux {
    position: static;

  }

  .liste_a_propos,
  .liste_nous_contacter,
  .liste_reseaux_sociaux {
    margin-right: 0;
  }

  footer img {

    padding-right: 0px;
  }

  .noStage {
    text-align: center;
  }

  

.bloc_footer_nous_contacter h3,
.bloc_footer_reseaux_sociaux h3 {
  margin-top: 20px;
}


}


