* {
  margin: 0px;
  padding: 0;
  text-decoration: none;
  list-style: none;
}

body {
  font-family: "Inter", sans-serif;
}

footer {
  background-color: #dad4de;
}

.container_recherche {
  width: 100%;
  height: 250px;
  background-color: #dad4de;
  display: flex;
  justify-content: center;
  align-items: center;
}

.box_recherche {
  width: 70%;
  display: flex;
  flex-direction: column;
}

.input_box_recherche {
  width: 100%;
  margin-top: 16px;
  background-color: white;
  box-shadow: 0px 6px 6px 0px rgba(0, 0, 0, 0.2);
  border-radius: 15px;
  display: flex;
  align-items: center;
  position: relative;
}

.text_box_recherche {
  font-size: 26px;
  font-weight: bold;
}

.input_recherche {
  height: 70px;
  width: 100%;
  font-size: 22px;
  font-weight: lighter;
  border: none;
  margin-left: 10px;
}

.input_recherche:focus {
  outline: none;
}

.img_loupe {
  height: 40px;
  width: 40px;
  margin-left: 10px;
}

.btn_recherche {
  height: 50px;
  width: 155px;
  min-width: 145px;
  border: none;
  border-radius: 10px;
  background-color: #7b9dd2;
  color: white;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
  margin: 0px 10px;
}

.btn_recherche:hover {
  background-color: #487aca;
}

.container_offre_stage {
  width: 100%;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.offre_stage {
  width: 400px;
  height: auto;
  border-radius: 15px;
  border: 1px solid #7b9dd2;
  background-color: white;
  margin: 40px 15px;
  position: relative;
  flex: 1 1 400px;
  max-width: 400px;
}

.box_domaine_stage {
  display: flex;
  flex-direction: column;
  margin-left: 20px;
  position: relative;
}

.text_domaine_stage,
.promotion_concernee {
  font-size: 18px;
  font-weight: bold;
  margin-top: 20px;
}

.nom_entreprise,
.lieu_stage,
.date_stage,
.nb_place {
  font-size: 16px;
  font-weight: lighter;
  margin-top: 10px;
}

.remuneration_stage,
.adresse_mail {
  font-size: 17px;
  font-weight: 600;
  margin-top: 10px;
}

.trait {
  border: 0.5px solid;
  margin: 0 20px;
  margin-top: 10px;
  border-color: #7b9dd2;
}

.description_stage {
  margin: 10px 15px 10px 20px;
  height: 150px;
}

.text_description_stage {
  font-size: 16px;
  font-weight: normal;
  width: 100%;
}

.bas_offre_stage {
  height: 30px;
}

.date_publi {
  margin-left: 20px;
  font-size: 12px;
}

.fond_wishlist,
.fond_plus {
  height: 30px;
  width: 30px;
  background-color: rgb(123, 157, 210, 0.25);
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
}

.fond_wishlist {
  top: 10px;
  right: 10px;
}

.fond_plus {
  bottom: 10px;
  right: 10px;
}

.fond_wishlist:hover,
.fond_plus:hover {
  background-color: rgb(123, 157, 210, 0.75);
  cursor: pointer;
  transition: 0.5s;
}

.img_wishlist,
.img_plus {
  height: 25px;
  width: 25px;
}

footer {
  margin-top: 0;
}

/* POPUP */

#popup_offre_de_stage {
  display: flex;
  align-items: center;
  justify-content: center;
  display: none;
}

.content_popup_offre_stage {
  background-color: white;
  width: 60%;
  display: flex;
  flex-direction: column;
  border-radius: 30px;
  box-shadow: 0px 6px 6px 0px rgba(0, 0, 0, 0.2);
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1000;
}

.box_domaine_stage_popup {
  display: flex;
  margin-top: 10px;
}

.box_gauche_domaine_stage,
.box_droite_domaine_stage {
  display: flex;
  flex-direction: column;
  margin: 0px 20px;
  width: 50%;
}

.trait_vertical {
  border: 0.5px solid;
  border-color: #7b9dd2;
  margin-top: 20px;
}

.description_stage {
  display: flex;
  justify-content: center;
  margin-top: 15px;
  /*border: solid 1px #d9e1ec;
  border-radius: 4px;*/
}

.box_btn {
  margin: 36px 20px 20px 10px;
  display: flex;
  justify-content: right;
}

.btn_annuler {
  background-color: transparent;
  border: 1px solid #7b9dd2;
  border-radius: 25px;
  color: #7b9dd2;
}

.btn_postuler {
  background-color: #7b9dd2;
  border-radius: 25px;
  border: none;
  color: white;
  margin-left: 25px;
}

.btn_postuler:hover {
  background-color: #487aca;
  transition: 1s;
}

.btn_annuler:hover {
  background-color: red;
  transition: background-color 1s;
  color: white;
  border: none;
}

.btn_annuler,
.btn_postuler {
  width: 210px;
  height: 55px;
  cursor: pointer;
}

ul {
  margin-left: 20px;
  margin-top: 10px;
}

ul li {
  display: inline;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 999;
  display: none;
}
