
*{
    margin : 0;
    padding : 0;
    font-family: 'Inter', sans-serif;
}


.acceuil_slogan {

    background-color: #DAD4DE;
    list-style-type : none;
    height : 650px;
}


.bloc_slogan{
    font-size:80px;
    font-weight: bold;
    
    padding-top: 50px;
    margin-left : 80px;
    
    

}

.phrase_acceuil {
    margin-top: 50px;
    margin-bottom: 50px;
    font-size: 17px;
   

}

.homme_loupe {
    position: absolute;
    top: 80px; 
    left: 850px; 
    width: 500px;
    height : 580px;
}   


.bouton_commencer{
    
    margin-top: 20px;
    margin-left : 80px;
    height: 80px;
    width: 350px;
    border-radius: 25px;
    background:#7B9DD2;
    box-shadow:  18px 18px 50px #acacac,-18px -18px 50px #ffffff;
    border : none;
    font-weight: bold;
    color : white;
    font-size : 16px;
}




/*Milieu de page*/


main {
    margin-top: 50px;
    
}

main h1 {

    text-align: center;
    
    margin-top: 50px;
    margin-bottom: 50px;
}


.texte_center  {
    margin : 20px auto;
    width: 75%;
    padding : 15px;
    text-align : center;
    line-height: 2;
    
}

main section img {
    width: 250px;
    height: 250px;
    border-radius: 100px;
    margin : 50px;
    margin-top: 50px;
   

}

.partenaires{
    margin-top: 20px;
    width: 90%;
    height: 205px;
    margin :auto;
    margin-top: 20px;
    
}

.alignement{
    display : flex;

    justify-content: center;
    
    
}

.nom {
    display : flex;

    justify-content: center;
}

.nom p {
    text-align: center;
    width: 250px;
    margin :50px;
    margin-top:-25px;

}

