* {
  margin: 0px;
  padding: 0;
  text-decoration: none;
  list-style: none;
  font-family: 'Inter', sans-serif;

}


body,footer {
  background-color: #BBB4DA;
  font-family: "Inter", sans-serif;
 
}


main{
  margin-top: 100px;
}


/*Tableau de bord et menu*/

.container_haut_page{
  width: 100%;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  
}


.tableau_de_bord {
color : #ffffff;

}

.tableau_de_bord, .espace,.menu{
  width: 400px;
  height: auto;
  margin: 40px 15px;
  position: relative;
  flex: 1 1 400px; 
  max-width: 400px;

}


.menu ul {
list-style-type: none;
display: flex;
align-items: center;
justify-content: flex-end; 
position: absolute;
right: 10%; 
width: 350px;
}

.menu ul li {
font-weight: bold;
margin: 0 10px; 
}


.square {
background-color: #7b9dd2 ;
width: 114px;
height: 54px;
border-radius: 25px;
display: flex; 
align-items: center; 
justify-content: center; 
}


.menu a{
color: #ffffff;
text-decoration: none; 
}



/* BOX*/

.container_box {
  width: 100%;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}



.box_stats {
  background-color: white;
  width: 400px;
  height: auto;
  border-radius: 30px;
  box-shadow: 0px 3px 4px 0px rgba(0, 0, 0, 0.25);
  margin: 40px 15px;
  position: relative;
  flex: 1 1 400px; 
  max-width: 400px;
}


.container_box_tableau {
  width: calc(100% - 30px); 
  max-width: calc(400px * 3 + 30px * 2); 
  margin: auto;
}


.box_stats_tableau {
  background-color: white;
  width: 100%; 
  height: auto;
  border-radius: 30px;
  box-shadow: 0px 3px 4px 0px rgba(0, 0, 0, 0.25);
  margin: auto;
}


.box_stats_contenu {
  margin: 20px;
  display: flex;
  flex-direction: column;
  text-align: center;
}


.box_stats_contenu h1 {
  height: 60px;
  padding-top: 10px;
  font-size: 20px;

}


.box_stats_contenu h1 {
  height: 60px;
  padding-top: 10px;
  font-size: 20px;

}



.box_stats_tableau {

  display: flex;
  flex-direction: column;
  text-align: center;
}


.box_stats_tableau h1 {
  height: 60px;
  padding-top: 30px;
  font-size: 20px;
  text-align: left;
  margin-left: 20px;

}


.box text {

font-size: 14px;

}


rect {
margin : 0;
padding: 0;
}

.donut svg{
width: 310px; 
height: 200px;
padding: 0;
justify-content: space-between;

}


table {
table-layout: fixed;
width: 100%;
border-collapse: collapse;

}

thead th:nth-child(1) {
width: 30%;
}

thead th:nth-child(2) {
width: 20%;
}

thead th:nth-child(3) {
width: 15%;
}

thead th:nth-child(4) {
width: 35%;
}


td {
padding: 20px;
text-align: center;
}



.emplacement_box_droite {
display: flex;
flex-direction: column;
align-items: center;
margin-top: 20px;
}




ol li {

margin-bottom: 0.5rem;
list-style: decimal;
}


.emplacement_box_droite ol {
width : 200px;
padding: 0;
}

@media screen and (max-width: 1290px) {
  
  .container_haut_page{
    

    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;


    
}


  .container_haut_page .tableau_de_bord,.menu,.espace{
    text-align: center;
    flex: 1;
   
  }

  .container_haut_page .tableau_de_bord{
    margin-bottom: -50px;
   
  }

  .container_haut_page .menu{
    margin-bottom: 80px;
   
  }


}
