* {
    margin: 0px;
    padding: 0;
    text-decoration: none;
    list-style: none;
    font-family: 'Inter', sans-serif;
  
  }


  body,footer {
    background-color: #BBB4DA;
    font-family: "Inter", sans-serif;
   
  }

  

  main{
    margin-top: 100px;
  }


/*Tableau de bord et menu*/

.tableau_de_bord {
  color : #7B9DD2;
  margin-left: 50px;


}


.emplacement_titre{
  display: flex;
}

.tableau_de_bord{
  margin-left: 10%
}



.menu {
  width: 100%;
  height: 100px;
  position: relative;

}

.menu ul {
  list-style-type: none;
  display: flex;
  align-items: center;
  justify-content: flex-end; 
  position: absolute;
  right: 10%; 
  width: 350px;
}

.menu ul li {
  font-weight: bold;
  margin: 0 10px; 
}


.square {
  background-color: white ;
  width: 114px;
  height: 54px;
  border-radius: 25px;
  display: flex; 
  align-items: center; 
  justify-content: center; 
}


.menu a{
  color: #7b9dd2;
  text-decoration: none; 
}



/* BOX*/

  .box {
    width: 100%;
    height: 600px;
    position: relative;
  }
  
  .box_connexion {
    background-color: white;
    width: 350px;
    height: 350px;
    border-radius: 30px;
    align-items: center;
    position: absolute;
    top: 25%;
  
    transform: translate(-50%, -50%);
    box-shadow: 0px 3px 4px 0px rgba(0, 0, 0, 0.25);
  }


  .emplacement_box_gauche{
    left: 20%;
  }


  .emplacement_box_milieu{
    left: 50%;
  }

  .emplacement_box_droite{

    left : 80%;
  }

  
  .box_connexion_contenu {
    margin: 20px;
    display: flex;
    flex-direction: column;
  }

  .box text {

  font-size: 14px;

}


rect {
  margin : 0;
  padding: 0;
}




.box h1 {
  height : 60px;
  padding-top: 20px;

  text-align: center;
  font-size: 20px;
  left: 20%;
 
 

  

}


.donut svg{
  width: 310px; 
  height: 200px;
  padding: 0;
  justify-content: space-between;

}







