body {
  font-family: "Inter", sans-serif;
  margin: 0;
  padding: 0;
  background-color: #ffffff;
}

.text_mentions {
  margin: 30px;
}

.text_politique {
  margin-left: 30px;
  margin-top: 30px;
}

.text {
  margin-left: 30px;
}
section {
  margin: 30px;
}

.sous_text {
  margin-bottom: 10px;
}

main ul {
  margin-left: 30px;
}

main p {
  margin: 10px 0 0 10px;
}

footer {
  background-color: #7b9dd2;
}

footer .liste_a_propos a:hover {
  color: #2063cf;
}

main li {
  text-decoration: solid;
  list-style-type: circle;
}
