* {
  margin: 0px;
  padding: 0;
  text-decoration: none;
  list-style: none;
}

body {
  font-family: "Inter", sans-serif;
}

footer {
  background-color: #e6dfc8;
}

.container_recherche {
  width: 100%;
  height: 250px;
  background-color: #e6dfc8;
  display: flex;
  justify-content: center;
  align-items: center;
}

.box_recherche {
  width: 70%;
  display: flex;
  flex-direction: column;
}

.input_box_recherche {
  width: 100%;
  margin-top: 16px;
  background-color: white;
  box-shadow: 0px 6px 6px 0px rgba(0, 0, 0, 0.2);
  border-radius: 15px;
  display: flex;
  align-items: center;
  position: relative;
}

.text_box_recherche {
  font-size: 26px;
  font-weight: bold;
}

.input_recherche {
  height: 70px;
  width: 100%;
  font-size: 22px;
  font-weight: lighter;
  border: none;
  margin-left: 10px;
}

.input_recherche:focus {
  outline: none;
}

.img_loupe {
  height: 40px;
  width: 40px;
  margin-left: 10px;
}

.btn_recherche {
  height: 50px;
  width: 155px;
  min-width: 145px;
  border: none;
  border-radius: 10px;
  background-color: #7b9dd2;
  color: white;
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
  margin: 0px 10px;
}

.btn_recherche:hover {
  background-color: #487aca;
  transition: 0.5s;
}

.container_aff_entreprise {
  width: 100%;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.aff_entreprise {
  width: 450px;
  height: auto;
  border-radius: 15px;
  border: 1px solid #7b9dd2;
  background-color: white;
  margin: 40px 15px;
  position: relative;
  flex: 1 1 450px;
  max-width: 450px;
}

.box_info_entreprise {
  display: flex;
  width: 100%;
  margin-left: 15px;
}

.box_entreprise {
  display: flex;
  flex-direction: column;
  margin-left: 15px;
  position: relative;
}

.nom_entreprise {
  font-size: 18px;
  font-weight: bold;
  margin-top: 20px;
}

.localisation_entreprise,
.avis_entreprise {
  font-size: 16px;
  font-weight: lighter;
}

.localisation_entreprise {
  margin-top: 10px;
}

.avis_entreprise {
  margin-right: 10px;
}

.remuneration_stage {
  font-size: 17px;
  font-weight: 600;
  margin-top: 10px;
}

.trait {
  border: 0.5px solid;
  width: 93%;
  margin: 0 auto;
  margin-top: 10px;
  border-color: #7b9dd2;
}

.description_entreprise {
  margin: 10px 15px;
  height: 200px;
  max-height: 200px;
}

.text_description_entreprise {
  font-size: 16px;
  font-weight: normal;
}

.bas_aff_entreprise {
  height: 30px;
}

.nb_vue,
.date_publi {
  margin-left: 15px;
  font-size: 12px;
}

.fond_star,
.fond_plus {
  height: 30px;
  width: 30px;
  background-color: rgb(123, 157, 210, 0.25);
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
}

.fond_star {
  top: 10px;
  right: 10px;
}

.fond_plus {
  bottom: 10px;
  right: 10px;
}

.fond_star:hover,
.fond_plus:hover {
  background-color: rgb(123, 157, 210, 0.75);
  cursor: pointer;
  transition: 0.5s;
}

.img_star {
  height: 25px;
  width: 25px;
}

.img_avis {
  height: 13px;
  width: 13px;
  margin: 0px 2px;
}

.box_avis {
  display: flex;
  align-items: center;
  margin-top: 10px;
}

.img_entreprise {
  height: 50px;
  width: 50px;
  margin-top: 20px;
}

.box_img_entreprise {
  align-self: center;
}

.nb_avis_entreprise {
  font-size: 10px;
}

footer {
  margin-top: 0;
}

/* POPUP */

.popup_avis_entreprise {
  display: flex;
  align-items: center;
  justify-content: center;
  display: none;
}

.content_poppup_avis_entreprise {
  background-color: white;
  width: 60%;
  display: flex;
  flex-direction: column;
  border-radius: 30px;
  box-shadow: 0px 6px 6px 0px rgba(0, 0, 0, 0.2);
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1000;
}

.box_info_personne {
  display: flex;
  align-items: center;
  margin: 25px;
}

.img_personne {
  width: 50px;
  height: 50px;
  border-radius: 100px;
}

.nom_personne {
  margin-left: 15px;
}

.box_etoiles_avis {
  display: flex;
  justify-content: center;
}

.etoiles_avis {
  width: 50px;
  height: 50px;
  margin: 0px 5px;
  cursor: pointer;
}

.box_commentaire_avis {
  display: flex;
  justify-content: center;
  margin-top: 15px;
}

.commentaire_avis {
  width: 100%;
  margin: 0px 25px;
  padding: 10px;
  border: 1px solid #d9e1ec;
  border-radius: 4px;
  resize: none;
  font-family: "Inter", sans-serif;
}

.commentaire_avis::placeholder {
  color: #d9e1ec;
  font-family: "Inter", sans-serif;
}

.box_btn {
  margin: 36px 25px 25px 10px;
  display: flex;
  justify-content: right;
}

.btn_annuler {
  background-color: transparent;
  border: 1px solid #7b9dd2;
  border-radius: 25px;
  color: #7b9dd2;
}

.btn_publier {
  background-color: #7b9dd2;
  border-radius: 25px;
  border: none;
  color: white;
  margin-left: 25px;
}

.btn_publier:hover {
  background-color: #487aca;
  transition: 1s;
}

.btn_annuler:hover {
  background-color: red;
  transition: background-color 1s;
  color: white;
  border: none;
}

.btn_annuler,
.btn_publier {
  width: 210px;
  height: 55px;
  cursor: pointer;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 999;
  display: none;
}
